In [1]:
import pandas as pd

In [2]:
import os

In [3]:
os.getcwd()

'C:\\Users\\Student\\Desktop\\Data Science Apps\\Courses\\Udemy\\Python\\Udemy Python'

In [4]:
movies=pd.read_csv("Movie-Ratings.csv")

In [5]:
len(movies)

559

In [6]:
movies.head()

,Film,Genre,Rotten Tomatoes Ratings %,Audience Ratings %,Budget (million $),Year of release
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009

In [7]:
movies.columns

Index(['Film', 'Genre', 'Rotten Tomatoes Ratings %', 'Audience Ratings %',
       'Budget (million $)', 'Year of release'],
      dtype='object')

In [8]:
movies.columns=['Film','Genre','CriticsRating','AudienceRating','BudgetMillions','Year']

In [9]:
movies.head()

,Film,Genre,CriticsRating,AudienceRating,BudgetMillions,Year
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009

In [10]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
Film              559 non-null object
Genre             559 non-null object
CriticsRating     559 non-null int64
AudienceRating    559 non-null int64
BudgetMillions    559 non-null int64
Year              559 non-null int64
dtypes: int64(4), object(2)
memory usage: 26.3+ KB

In [11]:
# Year is not treated the same way as other int numbers here. We won't add year etc

In [12]:
movies.describe()

       CriticsRating  AudienceRating  BudgetMillions         Year
count     559.000000      559.000000      559.000000   559.000000
mean       47.309481       58.744186       50.236136  2009.152057
std        26.413091       16.826887       48.731817     1.362632
min         0.000000        0.000000        0.000000  2007.000000
25%        25.000000       47.000000       20.000000  2008.000000
50%        46.000000       58.000000       35.000000  2009.000000
75%        70.000000       72.000000       65.000000  2010.000000
max        97.000000       96.000000      300.000000  2011.000000

In [13]:
# mean value of year doesn't make sense
# that's beacuse years are categories for us

In [15]:
movies[Film] # it has to be in '', ie 'Film'

NameError: name 'Film' is not defined

In [16]:
movies['Film']

0                   (500) Days of Summer
1                             10,000 B.C.
2                              12 Rounds
3                               127 Hours
4                               17 Again
5                                    2012
6                              27 Dresses
7                        30 Days of Night
8                      30 Minutes or Less
9                                   50/50
10                             88 Minutes
11                     A Dangerous Method
12              A Nightmare on Elm Street
13                         A Serious Man
14      A Very Harold and Kumar Christmas
15                              Abduction
16                    Across the Universe
17                         Adventureland
18                           Albert Nobbs
19                    Alice in Wonderland
20          Alien vs. Predator -- Requiem
21                   Aliens in the Attic
22                       All About Steve
23                        All Good Things
24                                Amelia
25                      American Gangster
26                           An Education
27                              Anonymous
28                              Apollo 18
29                              Appaloosa
                      ...
529                             War Horse
530                               Warrior
531                             Watchmen
532                   Water For Elephants
533                       We Bought a Zoo
534                      We Own the Night
535          Welcome Home, Roscoe Jenkins
536                 What Happens in Vegas
537                    What's Your Number
538                       Whatever Works
539                          When in Rome
540            Where the Wild Things Are
541                              Whip It
542                             Whiteout
543            Why Did I Get Married Too?
544                             Wild Hogs
545                         Winter's Bone
546             X-Men Origins: Wolverine
547                    X-Men: First Class
548                             Year One
549                               Yes Man
550                             Yogi Bear
551                             You Again
552         You Don't Mess with the Zohan
553    You Will Meet a Tall Dark Stranger
554                         Your Highness
555                       Youth in Revolt
556                                Zodiac
557                           Zombieland
558                             Zookeeper
Name: Film, Length: 559, dtype: object

In [17]:
#or 
movies.Film

0                   (500) Days of Summer
1                             10,000 B.C.
2                              12 Rounds
3                               127 Hours
4                               17 Again
5                                    2012
6                              27 Dresses
7                        30 Days of Night
8                      30 Minutes or Less
9                                   50/50
10                             88 Minutes
11                     A Dangerous Method
12              A Nightmare on Elm Street
13                         A Serious Man
14      A Very Harold and Kumar Christmas
15                              Abduction
16                    Across the Universe
17                         Adventureland
18                           Albert Nobbs
19                    Alice in Wonderland
20          Alien vs. Predator -- Requiem
21                   Aliens in the Attic
22                       All About Steve
23                        All Good Things
24                                Amelia
25                      American Gangster
26                           An Education
27                              Anonymous
28                              Apollo 18
29                              Appaloosa
                      ...
529                             War Horse
530                               Warrior
531                             Watchmen
532                   Water For Elephants
533                       We Bought a Zoo
534                      We Own the Night
535          Welcome Home, Roscoe Jenkins
536                 What Happens in Vegas
537                    What's Your Number
538                       Whatever Works
539                          When in Rome
540            Where the Wild Things Are
541                              Whip It
542                             Whiteout
543            Why Did I Get Married Too?
544                             Wild Hogs
545                         Winter's Bone
546             X-Men Origins: Wolverine
547                    X-Men: First Class
548                             Year One
549                               Yes Man
550                             Yogi Bear
551                             You Again
552         You Don't Mess with the Zohan
553    You Will Meet a Tall Dark Stranger
554                         Your Highness
555                       Youth in Revolt
556                                Zodiac
557                           Zombieland
558                             Zookeeper
Name: Film, Length: 559, dtype: object

In [20]:
movies.Film= movies.Film.astype('category')
#changing Cateogry~~~~~

In [21]:
movies.info 
#....? What just happened? 
# movies.info() is correct. ( ) needed

<bound method DataFrame.info of                                    Film      Genre  CriticsRating  \
0                 (500) Days of Summer      Comedy             87
1                           10,000 B.C.  Adventure              9
2                            12 Rounds      Action             30
3                             127 Hours  Adventure             93
4                             17 Again      Comedy             55
5                                  2012     Action             39
6                            27 Dresses     Comedy             40
7                      30 Days of Night     Horror             50
8                    30 Minutes or Less     Comedy             43
9                                 50/50     Comedy             93
10                           88 Minutes      Drama              5
11                   A Dangerous Method      Drama             79
12            A Nightmare on Elm Street     Horror             13
13                       A Serious Man       Drama             89
14    A Very Harold and Kumar Christmas     Comedy             72
15                            Abduction     Action              4
16                  Across the Universe    Romance             54
17                       Adventureland      Comedy             89
18                         Albert Nobbs      Drama             53
19                  Alice in Wonderland  Adventure             52
20        Alien vs. Predator -- Requiem     Horror             14
21                 Aliens in the Attic   Adventure             30
22                     All About Steve      Comedy              6
23                      All Good Things      Drama             33
24                              Amelia   Adventure             21
25                    American Gangster   Thriller             79
26                         An Education      Drama             94
27                            Anonymous      Drama             46
28                            Apollo 18     Horror             23
29                            Appaloosa     Action             77
..                                  ...        ...            ...
529                           War Horse      Drama             77
530                             Warrior     Action             83
531                           Watchmen      Action             64
532                 Water For Elephants      Drama             60
533                     We Bought a Zoo     Comedy             63
534                    We Own the Night      Drama             55
535        Welcome Home, Roscoe Jenkins     Comedy             24
536               What Happens in Vegas     Comedy             28
537                  What's Your Number     Comedy             24
538                     Whatever Works      Comedy             50
539                        When in Rome     Comedy             15
540          Where the Wild Things Are   Adventure             73
541                            Whip It       Drama             84
542                           Whiteout      Action              7
543          Why Did I Get Married Too?     Comedy             27
544                           Wild Hogs     Comedy             14
545                       Winter's Bone      Drama             94
546           X-Men Origins: Wolverine      Action             37
547                  X-Men: First Class     Action             87
548                           Year One   Adventure             14
549                             Yes Man     Comedy             43
550                           Yogi Bear     Comedy             14
551                           You Again     Comedy             18
552       You Don't Mess with the Zohan     Comedy             36
553  You Will Meet a Tall Dark Stranger     Comedy             43
554                       Your Highness     Comedy             26
555                     Youth in Revolt     Comedy             68
556                              Zodiac   Thriller             89
557                         Zombieland      Action             90
558                           Zookeeper     Comedy             14

     AudienceRating  BudgetMillions  Year
0                81               8  2009
1                44             105  2008
2                52              20  2009
3                84              18  2010
4                70              20  2009
5                63             200  2009
6                71              30  2008
7                57              32  2007
8                48              28  2011
9                93               8  2011
10               51              30  2007
11               89              20  2011
12               40              35  2010
13               64               7  2009
14               71              19  2011
15               46              35  2011
16               84              45  2007
17               56              10  2009
18               43               8  2011
19               72             200  2010
20               37              40  2007
21               46              45  2009
22               35              15  2009
23               64              20  2010
24               35              40  2009
25               87             100  2007
26               78               8  2009
27               66              30  2011
28               31               5  2011
29               55              20  2008
..              ...             ...   ...
529              73              66  2011
530              93              25  2011
531              68             130  2009
532              72              38  2011
533              79              50  2011
534              63              21  2007
535              64              35  2008
536              72              35  2008
537              50              20  2011
538              63              15  2009
539              44               0  2010
540              59             100  2009
541              73              15  2009
542              28              35  2009
543              67              20  2010
544              72              90  2007
545              73               2  2010
546              72             150  2009
547              88             160  2011
548              31              60  2009
549              72              70  2008
550              36              80  2010
551              45              20  2010
552              50              80  2008
553              35              22  2010
554              36              50  2011
555              52              18  2009
556              73              65  2007
557              87              24  2009
558              42              80  2011

[559 rows x 6 columns]>

In [22]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
Film              559 non-null category
Genre             559 non-null object
CriticsRating     559 non-null int64
AudienceRating    559 non-null int64
BudgetMillions    559 non-null int64
Year              559 non-null int64
dtypes: category(1), int64(4), object(1)
memory usage: 47.4+ KB

In [23]:
# in R categories are called factors, similar stuff

In [27]:
movies.Genre= movies.Genre.astype('category')
movies.Year=movies.Year.astype('category')

In [28]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
Film              559 non-null category
Genre             559 non-null category
CriticsRating     559 non-null int64
AudienceRating    559 non-null int64
BudgetMillions    559 non-null int64
Year              559 non-null category
dtypes: category(3), int64(3)
memory usage: 40.3 KB

In [29]:
movies.Genre.cat.categories # for unique values

Index(['Action', 'Adventure', 'Comedy', 'Drama', 'Horror', 'Romance',
       'Thriller'],
      dtype='object')

In [30]:
movies.describe() # since Year is now a category, Python has learnt not to include it for these stats

       CriticsRating  AudienceRating  BudgetMillions
count     559.000000      559.000000      559.000000
mean       47.309481       58.744186       50.236136
std        26.413091       16.826887       48.731817
min         0.000000        0.000000        0.000000
25%        25.000000       47.000000       20.000000
50%        46.000000       58.000000       35.000000
75%        70.000000       72.000000       65.000000
max        97.000000       96.000000      300.000000